
/*** NAV ***/
.nav-contact {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #03027A;
    height: 42px;
}
.w3l-bootstrap-header.fixed-top {
    margin-top: 38px;
}
.nav-contact-text {
    float: right;
    padding: 10px;
    font-size: 14px;
    margin-right: 20px;
}
.nav-contact-text span.fa.fa-phone, .nav-contact-text span.fa.fa-envelope-o {
    color: white;
}
.nav-contact-text .fa-phone:before, .nav-contact-text .fa-envelope-o:before {
    margin-right: 12px;
}
img.img-fluid.menu-logo {
    width: 85px;
}
.navbar-nav > .active > a {
    color: #03027A !important; 
    font-weight: 600;
    border-bottom: 2px solid;
}
.nav-item > a:hover {
    color: #03027A !important;
    font-weight: 600;
    border-bottom: 2px solid;
}

/*** BANNER ***/
section.w3l-index-block10.home-banner {
    margin-top: 8rem;
}
.banner-title{
    color: white;
    font-size: 70px;
    line-height: normal;
    text-transform: uppercase;
    padding: 0 80px;
    padding-top: 20px;
}
.verse-text-banner {
    width: 620px;
    display: block;
    margin: auto;
    margin-top: 61px;
}

/*** EVENTS ***/
.events-container .container {
    padding: 0 25px 25px;
}
.col-sm-6.col-events {
    padding: 0;
}
.events-text {
    text-align: center;
    text-transform: uppercase;
    color: #03027A;
    font-size: 30px;
    font-weight: 600;
    margin: 30px;
}
.event-title {
    font-size: 23px;
    color: #03027A;
    font-weight: bold;
    line-height: 1.3;
}
.event-description {
    color: #868686;
    margin: 20px 0;
}
.event-info-details {
    margin-top: 5px;
    color: #868686;
}
.event-info-details .fa:before {
    color: #03027A;
    margin-right: 10px;
}

.events-para .learn-more-btn .btn-more {
    font-size: 16px;
    display: inline-block;
    font-weight: unset;
    transition: 0.3s ease-in-out;
    padding: 8px 20px;
    background-color: #D9A414;
    border: none;
    float: right;
}
.learn-more-btn .btn-more:hover {
    color: white;
    background-color: #ffbb00;
}
.events-para .learn-more-btn {
    padding-top: 25px;
}
.events-card {
    background-color: white;
    box-shadow: var(--card-box-shadow);
}


/*** ABOUT US ***/
.about-section-width {
    width: 50%;
    float: right;
}
.about-us-text {
    text-transform: uppercase;
    color: white;
    font-size: 40px;
}
.about-us-title {
    color: white;
    font-size: 30px;
    margin-top: 20px;
}
.about-us-details {
    color: white;
    width: 560px;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    color: white;
    line-height: 25px;
}
.learn-more-btn {
    padding-top: 45px;
}
.learn-more-btn .btn-more {
    font-size: 16px;
    display: inline-block;
    font-weight: unset;
    transition: 0.3s ease-in-out;
    padding: 8px 45px;
    background-color: #D9A414;
    border: none;
}
.learn-more-btn .fa-arrow-right:before {
    margin-left: 10px;
    font-size: 60%;
    vertical-align: middle;
}

/*** ANNOUNCEMENTS ***/
.announcement-title {
    color: #03027A;
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    text-transform: uppercase;
}
.col-md-4.announcement-col-text {
    padding: 0 5px;
    margin-bottom: 15px;
}
.announcement-description {
    color: #868686;
    margin: 5px 0;
    font-size: 14px;
}
.announcement-para .learn-more-btn .btn-more {
    font-size: 14px;
    display: inline-block;
    font-weight: unset;
    transition: 0.3s ease-in-out;
    padding: 5px 15px;
    background-color: #D9A414;
    border: none;
    float: right;
}
.announcement-para .learn-more-btn .btn-more:hover {
    color: white;
    background-color: #ffbb00;
}
.announcement-para .learn-more-btn {
    padding-top: 35px;
}

/*** CONTACT US ***/
.newsletter-box {
    width: 80%;
    background-color: white;
    margin-left: 70px;
    padding: 30px;
}
.newsletter-text {
    text-align: center;
    font-weight: bold;
    color: #03027A;
    font-size: 25px;
    text-transform: uppercase;
}
.newsletter-description {
    text-align: center;
    width: 310px;
    display: block;
    margin: auto;
    color: #03027A;
    margin-top: 10px;
}
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #03027A;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #D9A414;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  input[type=submit]:hover {
    color: white;
    background-color: #ffbb00;
}
  .contact-us-container {
    padding-top: 6rem;
}
.contact-details span.fa.fa-phone, .contact-details span.fa.fa-envelope-o {
    color: white;
}
.contact-details .fa-phone:before, .contact-details .fa-envelope-o:before {
    margin-right: 12px;
}
.contact-details {
    margin-top: 30px;
}
.contacts-us {
    display: inline-block;
    color: white;
    margin: 0 20px;
}
.newsletter-description2 {
    text-align: center;
    display: block;
    margin: auto;
    color: #03027A;
    margin-top: 20px;
    font-weight: bold;
}
/*** FOOTER ***/
.footer-logo {
    display: inline-block;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding-left: 0.5rem;
}
.col-md-10.footer-list-28.mt-5 {
    padding: 0;
}
.col-md-2.footer-list-28.mt-5 {
    padding: 0;
}
.footer-text {
    width: 400px;
    color: #03027A;
}
.footer-title {
    font-size: 25px;
    color: #03027A;
    margin-bottom: 10px;
}
.footer-contacts-us {
    color: #03027A;
}
.footer-contacts-us .fa-phone:before, .footer-contacts-us .fa-envelope-o:before {
    margin-right: 12px;
}
i.fa.fa-facebook-square {
    font-size: 40px;
    color: #03027A;
}
form.form-newsletter {
    margin-top: 15px;
}
form.form-newsletter label{
    color: #03027A;
}